* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.xml text eol=lf
*.json text eol=lf
*.svg text eol=lf

*.dll binary
*.dylib binary
*.so binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
